body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;

}

.header-hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: flex-start;
    margin: 0;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 1em; 
    
}

.logo {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 50px;

}

#header-logo {
    display: flex;
    height: 120px;
    width: 120px;
    
    
}


#nav-bar {
    display: flex;
    margin-right: 175px;
    padding: 0;
    gap: 30px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    
    
    
}

.cheese-goat {
    align-self: center;
    margin-right: 20px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    
    
    
}

.image1 {
    display: flex;
    width: 75%;
    height: 75%;
}

.hero-image{
    width: 550px;
    height: 400px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px
}

.sign-up-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0;
    font-size: 24px;
}

.goat-wrapper {
    margin: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: -50px;
}

.cheese-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cheese-image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #3882F6;
}

.cheese-subtext {
    text-align: center;
    margin-top: -15px;
    font-size: 18px
}

.box-goat {
    background-color: #E5E7EB;
}

.box-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.box-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#1F2937;
}

.box-author {
    font-weight: 800;
    align-self: flex-end;
    font-size: 36px;
}

.aboutus {
    margin: 100px;
}

.aboutus-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 50px;
}

h3 {
    color:#E5E7EB;
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 18px
}

.aboutus-text {
    color:#E5E7EB;
    padding: 0px;
    margin: 0px;
}

.sign-up-button-second {
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    padding: 5px 20px;
    border-color: white;
    
    
}

.footer-goat {
    background-color: #1F2937;
}

.footer {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}

